USE [ShoegroupDB]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderDetailID] [int] NULL,
	[Rating] [tinyint] NOT NULL,
	[Title] [nvarchar](200) NULL,
	[Content] [nvarchar](2000) NULL,
	[SizeFeedback] [nvarchar](20) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[HelpfulCount] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Reviews] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[BrandID] [int] NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[BasePrice] [decimal](18, 0) NOT NULL,
	[IsActive] [bit] NULL,
	[ImageURL] [varchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[ImageGallery] [nvarchar](max) NULL,
	[CollectionID] [int] NULL,
	[ParentSKU] [varchar](50) NULL,
	[SalePrice] [decimal](18, 0) NULL,
	[IsFeatured] [bit] NULL,
	[ViewCount] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[MaterialID] [int] NULL,
	[WishlistCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProductRatings]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProductRatings]
AS
SELECT  p.[ProductID],
        COUNT(r.[ReviewID])                    AS ReviewCount,
        CAST(AVG(CAST(r.[Rating] AS DECIMAL(4,2))) AS DECIMAL(4,2)) AS AvgRating,
        SUM(CASE WHEN r.[SizeFeedback] = N'DUNG' THEN 1 ELSE 0 END) AS SizeTrueCount,
        SUM(CASE WHEN r.[SizeFeedback] = N'CHAT' THEN 1 ELSE 0 END) AS SizeTightCount,
        SUM(CASE WHEN r.[SizeFeedback] = N'RONG' THEN 1 ELSE 0 END) AS SizeLooseCount
FROM    [dbo].[Products] p
LEFT JOIN [dbo].[Reviews] r
        ON r.[ProductID] = p.[ProductID] AND r.[Status] = N'DaDuyet'
GROUP BY p.[ProductID];

GO
/****** Object:  Table [dbo].[SearchLogs]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SearchLogs](
	[SearchLogID] [int] IDENTITY(1,1) NOT NULL,
	[Keyword] [nvarchar](200) NOT NULL,
	[NormalizedKeyword] [nvarchar](200) NULL,
	[ResultCount] [int] NOT NULL,
	[UserID] [int] NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_SearchLogs] PRIMARY KEY CLUSTERED 
(
	[SearchLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_TopSearchKeywords]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TopSearchKeywords]
AS
SELECT TOP 100
        [NormalizedKeyword],
        COUNT(*)          AS SearchCount,
        MIN([ResultCount]) AS MinResultCount,
        MAX([CreatedAt])   AS LastSearchedAt
FROM    [dbo].[SearchLogs]
WHERE   [CreatedAt] >= DATEADD(DAY, -30, GETDATE())
        AND [NormalizedKeyword] IS NOT NULL
GROUP BY [NormalizedKeyword]
ORDER BY COUNT(*) DESC;

GO
/****** Object:  Table [dbo].[bak_Categories_20260804]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bak_Categories_20260804](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
	[Sport] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bak_OrderDetails_20260804]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bak_OrderDetails_20260804](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Size] [nvarchar](10) NULL,
	[Color] [nvarchar](50) NULL,
	[ProductVariantID] [int] NULL,
	[ProductNameSnapshot] [nvarchar](255) NULL,
	[SKUSnapshot] [varchar](60) NULL,
	[ColorHex] [varchar](20) NULL,
	[ImageURLSnapshot] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bak_Orders_20260804]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bak_Orders_20260804](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[ShippingAddress] [nvarchar](500) NULL,
	[CancelReason] [nvarchar](500) NULL,
	[CustomerName] [nvarchar](100) NULL,
	[CustomerPhone] [varchar](20) NULL,
	[PaymentMethod] [nvarchar](100) NULL,
	[ShippingFee] [decimal](18, 2) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[OrderNote] [nvarchar](500) NULL,
	[ShippingMethodID] [int] NULL,
	[PaymentMethodID] [int] NULL,
	[AddressID] [int] NULL,
	[DeliveryDistanceKm] [decimal](9, 2) NULL,
	[RecipientLatitude] [decimal](9, 6) NULL,
	[RecipientLongitude] [decimal](9, 6) NULL,
	[IsAddressVerified] [bit] NULL,
	[EstimatedDeliveryText] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](30) NULL,
	[DeliveredDate] [datetime] NULL,
	[ReceivedConfirmedDate] [datetime] NULL,
	[RevenueEligibleDate] [datetime] NULL,
	[IsCountedAsRevenue] [bit] NULL,
	[AutoCancelDeadline] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[TrackingNumber] [varchar](60) NULL,
	[HandledBy] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bak_Products_SoleCushion_20260804]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bak_Products_SoleCushion_20260804](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[SoleID] [int] NULL,
	[CushioningID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bak_ProductVariants_20260804]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bak_ProductVariants_20260804](
	[ProductVariantID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Size] [nvarchar](10) NULL,
	[SizeStandard] [varchar](10) NULL,
	[ColorName] [nvarchar](50) NULL,
	[ColorHex] [varchar](20) NULL,
	[ChildSKU] [varchar](60) NULL,
	[StockQuantity] [int] NOT NULL,
	[PriceAdjustment] [decimal](18, 0) NULL,
	[IsActive] [bit] NULL,
	[ColorID] [int] NULL,
	[SizeID] [int] NULL,
	[Version] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Brands]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brands](
	[BrandID] [int] IDENTITY(1,1) NOT NULL,
	[BrandName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
	[LogoURL] [varchar](max) NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartItems]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartItems](
	[CartItemID] [int] IDENTITY(1,1) NOT NULL,
	[CartID] [int] NOT NULL,
	[ProductVariantID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[AddedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_CartItems] PRIMARY KEY CLUSTERED 
(
	[CartItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Carts]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carts](
	[CartID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Carts] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NULL,
	[Sport] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Collections]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Collections](
	[CollectionID] [int] IDENTITY(1,1) NOT NULL,
	[BrandID] [int] NULL,
	[CollectionName] [nvarchar](150) NOT NULL,
	[Slug] [varchar](150) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CollectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[ColorID] [int] IDENTITY(1,1) NOT NULL,
	[ColorName] [nvarchar](50) NOT NULL,
	[ColorHex] [varchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponID] [int] IDENTITY(1,1) NOT NULL,
	[CouponCode] [varchar](50) NOT NULL,
	[DiscountPercent] [int] NOT NULL,
	[UsageLimit] [int] NOT NULL,
	[UsedCount] [int] NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[IsActive] [bit] NULL,
	[Description] [nvarchar](500) NULL,
	[CouponName] [nvarchar](200) NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[MinOrderAmount] [decimal](18, 2) NOT NULL,
	[MaxDiscountAmount] [decimal](18, 2) NOT NULL,
	[StartDate] [datetime] NULL,
	[PerUserLimit] [int] NULL,
	[IsFlashSale] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialID] [int] IDENTITY(1,1) NOT NULL,
	[MaterialName] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberTiers]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberTiers](
	[TierID] [int] IDENTITY(1,1) NOT NULL,
	[TierCode] [varchar](20) NOT NULL,
	[TierName] [nvarchar](50) NOT NULL,
	[MinSpend] [decimal](18, 2) NOT NULL,
	[DiscountPercent] [int] NOT NULL,
	[PointRate] [decimal](9, 4) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_MemberTiers] PRIMARY KEY CLUSTERED 
(
	[TierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Type] [varchar](50) NULL,
	[RelatedID] [int] NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NULL,
	[ProductID] [int] NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 2) NULL,
	[Size] [nvarchar](10) NULL,
	[Color] [nvarchar](50) NULL,
	[ProductVariantID] [int] NULL,
	[ProductNameSnapshot] [nvarchar](255) NULL,
	[SKUSnapshot] [varchar](60) NULL,
	[ColorHex] [varchar](20) NULL,
	[ImageURLSnapshot] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[ShippingAddress] [nvarchar](500) NULL,
	[CancelReason] [nvarchar](500) NULL,
	[CustomerName] [nvarchar](100) NULL,
	[CustomerPhone] [varchar](20) NULL,
	[PaymentMethod] [nvarchar](100) NULL,
	[ShippingFee] [decimal](18, 2) NULL,
	[DiscountAmount] [decimal](18, 2) NULL,
	[OrderNote] [nvarchar](500) NULL,
	[ShippingMethodID] [int] NULL,
	[PaymentMethodID] [int] NULL,
	[AddressID] [int] NULL,
	[DeliveryDistanceKm] [decimal](9, 2) NULL,
	[RecipientLatitude] [decimal](9, 6) NULL,
	[RecipientLongitude] [decimal](9, 6) NULL,
	[IsAddressVerified] [bit] NULL,
	[EstimatedDeliveryText] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](30) NULL,
	[DeliveredDate] [datetime] NULL,
	[ReceivedConfirmedDate] [datetime] NULL,
	[RevenueEligibleDate] [datetime] NULL,
	[IsCountedAsRevenue] [bit] NULL,
	[AutoCancelDeadline] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[TrackingNumber] [varchar](60) NULL,
	[HandledBy] [nvarchar](50) NULL,
	[PaymentDueAt] [datetime] NULL,
	[PaymentConfirmedAt] [datetime] NULL,
	[StockIssueStatus] [nvarchar](30) NULL,
	[StockIssueReason] [nvarchar](500) NULL,
	[StockRestoredAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderStatusHistory]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistory](
	[HistoryID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[OldStatus] [nvarchar](50) NULL,
	[NewStatus] [nvarchar](50) NULL,
	[Note] [nvarchar](500) NULL,
	[ChangedBy] [int] NULL,
	[ChangedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentMethods]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentMethods](
	[PaymentMethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](100) NOT NULL,
	[MethodCode] [varchar](30) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IconURL] [varchar](max) NULL,
	[SortOrder] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTransactions]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTransactions](
	[TransactionID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderTxnRef] [varchar](100) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SignatureValid] [bit] NULL,
	[RawResponse] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[CompletedAt] [datetime] NULL,
 CONSTRAINT [PK_PaymentTransactions] PRIMARY KEY CLUSTERED 
(
	[TransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointTransactions]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointTransactions](
	[PointTransactionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[OrderID] [int] NULL,
	[Points] [int] NOT NULL,
	[Reason] [nvarchar](200) NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_PointTransactions] PRIMARY KEY CLUSTERED 
(
	[PointTransactionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostOffices]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostOffices](
	[PostOfficeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Province] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[Ward] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PostOfficeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductImages]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductImages](
	[ProductImageID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[ColorName] [nvarchar](50) NULL,
	[ImageURL] [varchar](max) NOT NULL,
	[IsPrimary] [bit] NULL,
	[SortOrder] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductQuestions]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductQuestions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[UserID] [int] NULL,
	[AskerName] [nvarchar](100) NULL,
	[Content] [nvarchar](1000) NOT NULL,
	[AnswerContent] [nvarchar](2000) NULL,
	[AnsweredByUserID] [int] NULL,
	[AnsweredAt] [datetime] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_ProductQuestions] PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariants]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariants](
	[ProductVariantID] [int] IDENTITY(1,1) NOT NULL,
	[ProductID] [int] NOT NULL,
	[Size] [nvarchar](10) NULL,
	[SizeStandard] [varchar](10) NULL,
	[ColorName] [nvarchar](50) NULL,
	[ColorHex] [varchar](20) NULL,
	[ChildSKU] [varchar](60) NULL,
	[StockQuantity] [int] NOT NULL,
	[PriceAdjustment] [decimal](18, 0) NULL,
	[IsActive] [bit] NULL,
	[ColorID] [int] NULL,
	[SizeID] [int] NULL,
	[Version] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductVariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnDetails]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnDetails](
	[ReturnDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ReturnID] [int] NOT NULL,
	[OrderDetailID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Reason] [nvarchar](500) NULL,
	[Condition] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Returns]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Returns](
	[ReturnID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ReturnType] [varchar](20) NOT NULL,
	[TrackingNumber] [varchar](60) NULL,
	[PostOfficeID] [int] NULL,
	[ReturnAddress] [nvarchar](500) NULL,
	[Reason] [nvarchar](500) NULL,
	[Status] [nvarchar](50) NULL,
	[RefundAmount] [decimal](18, 0) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[InspectionNote] [nvarchar](1000) NULL,
	[ResolutionNote] [nvarchar](1000) NULL,
	[ApprovedAt] [datetime] NULL,
	[RefundedAt] [datetime] NULL,
	[RestockedAt] [datetime] NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewImages]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewImages](
	[ReviewImageID] [int] IDENTITY(1,1) NOT NULL,
	[ReviewID] [int] NOT NULL,
	[ImageURL] [varchar](max) NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_ReviewImages] PRIMARY KEY CLUSTERED 
(
	[ReviewImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShippingMethods]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShippingMethods](
	[ShippingMethodID] [int] IDENTITY(1,1) NOT NULL,
	[MethodName] [nvarchar](50) NOT NULL,
	[MethodCode] [varchar](20) NOT NULL,
	[BasePrice] [decimal](18, 0) NULL,
	[PricePerKm] [decimal](18, 0) NULL,
	[OriginCity] [nvarchar](50) NULL,
	[EstimatedTimeText] [nvarchar](50) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ShippingMethodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeCharts]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeCharts](
	[SizeChartID] [int] IDENTITY(1,1) NOT NULL,
	[BrandID] [int] NOT NULL,
	[SizeID] [int] NOT NULL,
	[FootLengthCm] [decimal](5, 1) NULL,
	[UsSize] [nvarchar](10) NULL,
	[EuSize] [nvarchar](10) NULL,
	[Note] [nvarchar](300) NULL,
 CONSTRAINT [PK_SizeCharts] PRIMARY KEY CLUSTERED 
(
	[SizeChartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sizes]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sizes](
	[SizeID] [int] IDENTITY(1,1) NOT NULL,
	[SizeName] [nvarchar](20) NOT NULL,
	[SizeStandard] [varchar](10) NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StockAlerts]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockAlerts](
	[StockAlertID] [int] IDENTITY(1,1) NOT NULL,
	[ProductVariantID] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[UserID] [int] NULL,
	[IsNotified] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[NotifiedAt] [datetime] NULL,
 CONSTRAINT [PK_StockAlerts] PRIMARY KEY CLUSTERED 
(
	[StockAlertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAddresses]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAddresses](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RecipientName] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Province] [nvarchar](100) NULL,
	[District] [nvarchar](100) NULL,
	[Ward] [nvarchar](100) NULL,
	[AddressLine] [nvarchar](255) NULL,
	[FullAddress] [nvarchar](500) NULL,
	[Latitude] [decimal](9, 6) NULL,
	[Longitude] [decimal](9, 6) NULL,
	[IsVerified] [bit] NULL,
	[IsDefault] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[RoleID] [int] NULL,
	[Email] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[PasswordResetToken] [varchar](255) NULL,
	[PasswordResetTokenExpiry] [datetime] NULL,
	[LastPasswordChangedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[Source] [nvarchar](30) NULL,
	[EmailVerified] [bit] NOT NULL,
	[EmailVerifyToken] [varchar](255) NULL,
	[EmailVerifyExpiry] [datetime] NULL,
	[PointBalance] [int] NOT NULL,
	[TierID] [int] NULL,
	[AvatarURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSessions]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSessions](
	[SessionID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[BrowserFingerprint] [varchar](255) NULL,
	[UserAgent] [nvarchar](500) NULL,
	[DeviceName] [nvarchar](100) NULL,
	[RememberToken] [varchar](255) NULL,
	[IPAddress] [varchar](45) NULL,
	[CreatedAt] [datetime] NULL,
	[ExpiresAt] [datetime] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SessionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariantDiscounts]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantDiscounts](
	[VariantDiscountID] [int] IDENTITY(1,1) NOT NULL,
	[ProductVariantID] [int] NOT NULL,
	[ProductID] [int] NULL,
	[ColorName] [nvarchar](50) NULL,
	[ColorHex] [varchar](20) NULL,
	[DiscountType] [nvarchar](20) NOT NULL,
	[DiscountValue] [decimal](18, 2) NOT NULL,
	[DiscountPercent] [int] NULL,
	[MaxDiscountAmount] [decimal](18, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UsedCount] [int] NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[Reason] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](500) NULL,
	[CreatedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[VariantDiscountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Wishlists]    Script Date: 8/29/2026 10:25:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Wishlists](
	[WishlistID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[NotifyOnSale] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Wishlists] PRIMARY KEY CLUSTERED 
(
	[WishlistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[bak_Categories_20260804] ON 

INSERT [dbo].[bak_Categories_20260804] ([CategoryID], [CategoryName], [IsActive], [Sport]) VALUES (1, N'Giày Sneaker', 1, N'Thời Trang')
INSERT [dbo].[bak_Categories_20260804] ([CategoryID], [CategoryName], [IsActive], [Sport]) VALUES (2, N'Giày Chạy Bộ', 1, N'Chạy Bộ')
INSERT [dbo].[bak_Categories_20260804] ([CategoryID], [CategoryName], [IsActive], [Sport]) VALUES (3, N'Chay bo', 1, N'Chạy Bộ')
SET IDENTITY_INSERT [dbo].[bak_Categories_20260804] OFF
GO
SET IDENTITY_INSERT [dbo].[bak_OrderDetails_20260804] ON 

INSERT [dbo].[bak_OrderDetails_20260804] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Size], [Color], [ProductVariantID], [ProductNameSnapshot], [SKUSnapshot], [ColorHex], [ImageURLSnapshot]) VALUES (1, 1, 1, 1, CAST(2899000.00 AS Decimal(18, 2)), N'39', N'Đen', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[bak_OrderDetails_20260804] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Size], [Color], [ProductVariantID], [ProductNameSnapshot], [SKUSnapshot], [ColorHex], [ImageURLSnapshot]) VALUES (2, 1, 2, 1, CAST(3499000.00 AS Decimal(18, 2)), N'39', N'Đen', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[bak_OrderDetails_20260804] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Size], [Color], [ProductVariantID], [ProductNameSnapshot], [SKUSnapshot], [ColorHex], [ImageURLSnapshot]) VALUES (12, 13, 1, 2, CAST(2500000.00 AS Decimal(18, 2)), N'M', N'Đen', 1, N'Nike Air Force 1', NULL, N'#111827', NULL)
SET IDENTITY_INSERT [dbo].[bak_OrderDetails_20260804] OFF
GO
SET IDENTITY_INSERT [dbo].[bak_Orders_20260804] ON 

SET IDENTITY_INSERT [dbo].[bak_Orders_20260804] OFF
GO
SET IDENTITY_INSERT [dbo].[bak_Products_SoleCushion_20260804] ON 

INSERT [dbo].[bak_Products_SoleCushion_20260804] ([ProductID], [SoleID], [CushioningID]) VALUES (1, NULL, NULL)
INSERT [dbo].[bak_Products_SoleCushion_20260804] ([ProductID], [SoleID], [CushioningID]) VALUES (2, NULL, NULL)
INSERT [dbo].[bak_Products_SoleCushion_20260804] ([ProductID], [SoleID], [CushioningID]) VALUES (14, NULL, NULL)
SET IDENTITY_INSERT [dbo].[bak_Products_SoleCushion_20260804] OFF
GO
SET IDENTITY_INSERT [dbo].[bak_ProductVariants_20260804] ON 

INSERT [dbo].[bak_ProductVariants_20260804] ([ProductVariantID], [ProductID], [Size], [SizeStandard], [ColorName], [ColorHex], [ChildSKU], [StockQuantity], [PriceAdjustment], [IsActive], [ColorID], [SizeID], [Version]) VALUES (1, 1, N'M', N'VN', N'Đen', N'#111827', N'SP1-DEN-M', 50, CAST(0 AS Decimal(18, 0)), 1, 1, NULL, 0)
INSERT [dbo].[bak_ProductVariants_20260804] ([ProductVariantID], [ProductID], [Size], [SizeStandard], [ColorName], [ColorHex], [ChildSKU], [StockQuantity], [PriceAdjustment], [IsActive], [ColorID], [SizeID], [Version]) VALUES (2, 1, N'L', N'VN', N'Trắng', N'#f9fafb', N'SP1-TRG-L', 40, CAST(0 AS Decimal(18, 0)), 1, 2, NULL, 0)
INSERT [dbo].[bak_ProductVariants_20260804] ([ProductVariantID], [ProductID], [Size], [SizeStandard], [ColorName], [ColorHex], [ChildSKU], [StockQuantity], [PriceAdjustment], [IsActive], [ColorID], [SizeID], [Version]) VALUES (3, 1, N'XL', N'VN', N'Cam', N'#f97316', N'SP1-CAM-XL', 30, CAST(0 AS Decimal(18, 0)), 1, NULL, NULL, 0)
GO
SET IDENTITY_INSERT [dbo].[bak_ProductVariants_20260804] OFF
GO
SET IDENTITY_INSERT [dbo].[Brands] ON 

INSERT [dbo].[Brands] ([BrandID], [BrandName], [IsActive], [LogoURL], [SortOrder]) VALUES (1, N'Nike', 1, N'https://placehold.co/200x200/111111/ffffff?text=Nike', 0)
INSERT [dbo].[Brands] ([BrandID], [BrandName], [IsActive], [LogoURL], [SortOrder]) VALUES (2, N'Adidas', 1, N'https://placehold.co/200x200/ffffff/111111?text=adidas', 2)
INSERT [dbo].[Brands] ([BrandID], [BrandName], [IsActive], [LogoURL], [SortOrder]) VALUES (3, N'Puma', 1, NULL, 3)
SET IDENTITY_INSERT [dbo].[Brands] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IsActive], [Sport]) VALUES (11, N'Giày Chạy Bộ Nam', 1, N'Chạy Bộ')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IsActive], [Sport]) VALUES (12, N'Giày Bóng Rổ Nam', 1, N'Bóng Rổ')
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [IsActive], [Sport]) VALUES (13, N'Giày Bóng Đá Nam', 1, N'Bóng Đá')
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Collections] ON 

INSERT [dbo].[Collections] ([CollectionID], [BrandID], [CollectionName], [Slug], [IsActive]) VALUES (1, 1, N'Nike Air Max', N'nike-air-max', 1)
INSERT [dbo].[Collections] ([CollectionID], [BrandID], [CollectionName], [Slug], [IsActive]) VALUES (2, 1, N'Nike Pegasus', N'nike-pegasus', 1)
INSERT [dbo].[Collections] ([CollectionID], [BrandID], [CollectionName], [Slug], [IsActive]) VALUES (3, 1, N'Nike Air Force 1', N'nike-air-force-1', 1)
SET IDENTITY_INSERT [dbo].[Collections] OFF
GO
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([ColorID], [ColorName], [ColorHex], [IsActive], [SortOrder]) VALUES (1, N'Đen', N'#000000', 1, 1)
INSERT [dbo].[Colors] ([ColorID], [ColorName], [ColorHex], [IsActive], [SortOrder]) VALUES (2, N'Trắng', N'#FFFFFF', 1, 2)
INSERT [dbo].[Colors] ([ColorID], [ColorName], [ColorHex], [IsActive], [SortOrder]) VALUES (3, N'Xám', N'#808080', 1, 3)
SET IDENTITY_INSERT [dbo].[Colors] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([CouponID], [CouponCode], [DiscountPercent], [UsageLimit], [UsedCount], [ExpiryDate], [IsActive], [Description], [CouponName], [DiscountType], [DiscountValue], [MinOrderAmount], [MaxDiscountAmount], [StartDate], [PerUserLimit], [IsFlashSale]) VALUES (1, N'WELCOME2026', 15, 100, 1, CAST(N'2026-12-31T00:00:00.000' AS DateTime), 1, NULL, NULL, N'Phần trăm', CAST(15.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL, 0)
INSERT [dbo].[Coupons] ([CouponID], [CouponCode], [DiscountPercent], [UsageLimit], [UsedCount], [ExpiryDate], [IsActive], [Description], [CouponName], [DiscountType], [DiscountValue], [MinOrderAmount], [MaxDiscountAmount], [StartDate], [PerUserLimit], [IsFlashSale]) VALUES (2, N'FLASH50', 50, 50, 1, CAST(N'2026-08-05T00:00:00.000' AS DateTime), 1, N'', N'', N'Phần trăm', CAST(50.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), CAST(0.00 AS Decimal(18, 2)), NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([MaterialID], [MaterialName], [IsActive]) VALUES (1, N'Da thật', 1)
INSERT [dbo].[Materials] ([MaterialID], [MaterialName], [IsActive]) VALUES (2, N'Da tổng hợp (PU)', 1)
INSERT [dbo].[Materials] ([MaterialID], [MaterialName], [IsActive]) VALUES (3, N'Da lộn (Suede)', 1)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberTiers] ON 

INSERT [dbo].[MemberTiers] ([TierID], [TierCode], [TierName], [MinSpend], [DiscountPercent], [PointRate], [SortOrder], [IsActive]) VALUES (1, N'BRONZE', N'Đồng', CAST(0.00 AS Decimal(18, 2)), 0, CAST(1.0000 AS Decimal(9, 4)), 1, 1)
INSERT [dbo].[MemberTiers] ([TierID], [TierCode], [TierName], [MinSpend], [DiscountPercent], [PointRate], [SortOrder], [IsActive]) VALUES (2, N'SILVER', N'Bạc', CAST(5000000.00 AS Decimal(18, 2)), 3, CAST(1.2000 AS Decimal(9, 4)), 2, 1)
INSERT [dbo].[MemberTiers] ([TierID], [TierCode], [TierName], [MinSpend], [DiscountPercent], [PointRate], [SortOrder], [IsActive]) VALUES (3, N'GOLD', N'Vàng', CAST(20000000.00 AS Decimal(18, 2)), 5, CAST(1.5000 AS Decimal(9, 4)), 3, 1)
SET IDENTITY_INSERT [dbo].[MemberTiers] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [Type], [RelatedID], [IsRead], [CreatedAt]) VALUES (9, 2, N'Cập nhật trạng thái đơn hàng', N'Đơn hàng #9 đã chuyển sang trạng thái: Đã nhận hàng', N'Order', 9, 0, CAST(N'2026-08-04T21:51:23.633' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [Type], [RelatedID], [IsRead], [CreatedAt]) VALUES (10, 4, N'Cập nhật trạng thái đơn hàng', N'Đơn hàng #53 đã chuyển sang trạng thái: Đã hủy', N'Order', 53, 0, CAST(N'2026-08-05T10:57:29.510' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [UserID], [Title], [Message], [Type], [RelatedID], [IsRead], [CreatedAt]) VALUES (11, 4, N'Cập nhật trạng thái đơn hàng', N'Đơn hàng #54 đã chuyển sang trạng thái: Đã hủy', N'Order', 54, 0, CAST(N'2026-08-05T10:58:00.060' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Size], [Color], [ProductVariantID], [ProductNameSnapshot], [SKUSnapshot], [ColorHex], [ImageURLSnapshot]) VALUES (59, 67, 22, 1, CAST(100.00 AS Decimal(18, 2)), N'36', N'Đỏ', 198, N'abcdd', NULL, NULL, NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Size], [Color], [ProductVariantID], [ProductNameSnapshot], [SKUSnapshot], [ColorHex], [ImageURLSnapshot]) VALUES (65, 71, 22, 20, CAST(99999.00 AS Decimal(18, 2)), N'40', N'Đỏ', 194, N'abcdd', NULL, NULL, NULL)
INSERT [dbo].[OrderDetails] ([OrderDetailID], [OrderID], [ProductID], [Quantity], [UnitPrice], [Size], [Color], [ProductVariantID], [ProductNameSnapshot], [SKUSnapshot], [ColorHex], [ImageURLSnapshot]) VALUES (66, 72, 22, 1, CAST(99999.00 AS Decimal(18, 2)), N'40', N'Đỏ', 194, N'abcdd', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderStatusHistory] ON 

INSERT [dbo].[OrderStatusHistory] ([HistoryID], [OrderID], [OldStatus], [NewStatus], [Note], [ChangedBy], [ChangedAt]) VALUES (1, 86, N'Chờ xác nhận', N'Chờ xác nhận', N'[ADDRESS_CHANGED] 123, Phường Ngọc Hà, Thành phố Hà Nội => 234, Phường Nùng Trí Cao, Tỉnh Cao Bằng', 4, CAST(N'2026-08-21T11:30:26.203' AS DateTime))
INSERT [dbo].[OrderStatusHistory] ([HistoryID], [OrderID], [OldStatus], [NewStatus], [Note], [ChangedBy], [ChangedAt]) VALUES (2, 86, N'Chờ xác nhận', N'Chờ xác nhận', N'[ADDRESS_CHANGED] 234, Phường Nùng Trí Cao, Tỉnh Cao Bằng => 123, Phường Ngọc Hà, Thành phố Hà Nội', 4, CAST(N'2026-08-21T11:30:33.577' AS DateTime))
INSERT [dbo].[OrderStatusHistory] ([HistoryID], [OrderID], [OldStatus], [NewStatus], [Note], [ChangedBy], [ChangedAt]) VALUES (3, 86, N'Chờ xác nhận', N'Chờ xác nhận', N'[ADDRESS_CHANGED] 123, Phường Ngọc Hà, Thành phố Hà Nội => 234, Phường Nùng Trí Cao, Tỉnh Cao Bằng', 4, CAST(N'2026-08-21T11:30:58.343' AS DateTime))
SET IDENTITY_INSERT [dbo].[OrderStatusHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentMethods] ON 

INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName], [MethodCode], [Description], [IconURL], [SortOrder], [IsActive]) VALUES (1, N'Thanh toán khi nhận hàng (COD)', N'cod', N'Trả tiền mặt khi nhận', NULL, 1, 1)
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName], [MethodCode], [Description], [IconURL], [SortOrder], [IsActive]) VALUES (2, N'Chuyển khoản ngân hàng', N'bank_transfer', N'Chuyển khoản qua QR/STK', NULL, 2, 1)
INSERT [dbo].[PaymentMethods] ([PaymentMethodID], [MethodName], [MethodCode], [Description], [IconURL], [SortOrder], [IsActive]) VALUES (3, N'Ví MoMo', N'momo', N'Thanh toán qua MoMo', NULL, 3, 1)
SET IDENTITY_INSERT [dbo].[PaymentMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTransactions] ON 

INSERT [dbo].[PaymentTransactions] ([TransactionID], [OrderID], [Provider], [ProviderTxnRef], [Amount], [Status], [SignatureValid], [RawResponse], [CreatedAt], [CompletedAt]) VALUES (1, 90, N'CUSTOMER_DECLARED', NULL, CAST(429998.00 AS Decimal(18, 2)), N'PENDING', NULL, NULL, CAST(N'2026-08-27T14:51:56.367' AS DateTime), NULL)
INSERT [dbo].[PaymentTransactions] ([TransactionID], [OrderID], [Provider], [ProviderTxnRef], [Amount], [Status], [SignatureValid], [RawResponse], [CreatedAt], [CompletedAt]) VALUES (2, 94, N'CUSTOMER_DECLARED', NULL, CAST(730000.00 AS Decimal(18, 2)), N'PENDING', NULL, NULL, CAST(N'2026-08-27T18:29:51.577' AS DateTime), NULL)
INSERT [dbo].[PaymentTransactions] ([TransactionID], [OrderID], [Provider], [ProviderTxnRef], [Amount], [Status], [SignatureValid], [RawResponse], [CreatedAt], [CompletedAt]) VALUES (3, 93, N'MANUAL_REFUND', NULL, CAST(399998.00 AS Decimal(18, 2)), N'REFUNDED', 1, NULL, CAST(N'2026-08-28T19:19:11.517' AS DateTime), CAST(N'2026-08-28T19:19:11.517' AS DateTime))
SET IDENTITY_INSERT [dbo].[PaymentTransactions] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductImages] ON 

SET IDENTITY_INSERT [dbo].[ProductImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductVariants] ON 

INSERT [dbo].[ProductVariants] ([ProductVariantID], [ProductID], [Size], [SizeStandard], [ColorName], [ColorHex], [ChildSKU], [StockQuantity], [PriceAdjustment], [IsActive], [ColorID], [SizeID], [Version]) VALUES (194, 22, N'40', N'EU', N'Đỏ', N'#FF0000', N'GIÀY-??-40', 8, CAST(0 AS Decimal(18, 0)), 1, 4, 3, 0)
INSERT [dbo].[ProductVariants] ([ProductVariantID], [ProductID], [Size], [SizeStandard], [ColorName], [ColorHex], [ChildSKU], [StockQuantity], [PriceAdjustment], [IsActive], [ColorID], [SizeID], [Version]) VALUES (195, 22, N'41', N'EU', N'Đỏ', N'#FF0000', N'ABCD-??-41', 0, CAST(0 AS Decimal(18, 0)), 0, 4, 4, 0)
INSERT [dbo].[ProductVariants] ([ProductVariantID], [ProductID], [Size], [SizeStandard], [ColorName], [ColorHex], [ChildSKU], [StockQuantity], [PriceAdjustment], [IsActive], [ColorID], [SizeID], [Version]) VALUES (196, 22, N'39', N'EU', N'Xanh dương', N'#0000FF', N'ABCD-XA-39', 0, CAST(0 AS Decimal(18, 0)), 0, 6, 2, 0)
SET IDENTITY_INSERT [dbo].[ProductVariants] OFF
GO
SET IDENTITY_INSERT [dbo].[ReturnDetails] ON 

INSERT [dbo].[ReturnDetails] ([ReturnDetailID], [ReturnID], [OrderDetailID], [Quantity], [Reason], [Condition]) VALUES (1, 1, 88, 1, N'[Sản phẩm lỗi / không hoạt động] abc', N'UNOPENED')
SET IDENTITY_INSERT [dbo].[ReturnDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Returns] ON 

SET IDENTITY_INSERT [dbo].[Returns] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Customer')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (3, N'Nhan vien')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ShippingMethods] ON 

INSERT [dbo].[ShippingMethods] ([ShippingMethodID], [MethodName], [MethodCode], [BasePrice], [PricePerKm], [OriginCity], [EstimatedTimeText], [IsActive]) VALUES (1, N'Giao hoả tốc', N'express', CAST(20000 AS Decimal(18, 0)), CAST(3000 AS Decimal(18, 0)), N'Hà Nội', N'~24 giờ', 0)
INSERT [dbo].[ShippingMethods] ([ShippingMethodID], [MethodName], [MethodCode], [BasePrice], [PricePerKm], [OriginCity], [EstimatedTimeText], [IsActive]) VALUES (2, N'Giao thường', N'standard', CAST(30000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), N'Hà Nội', N'2-3 ngày', 1)
SET IDENTITY_INSERT [dbo].[ShippingMethods] OFF
GO
SET IDENTITY_INSERT [dbo].[Sizes] ON 

INSERT [dbo].[Sizes] ([SizeID], [SizeName], [SizeStandard], [IsActive], [SortOrder]) VALUES (1, N'38', N'EU', 1, 1)
INSERT [dbo].[Sizes] ([SizeID], [SizeName], [SizeStandard], [IsActive], [SortOrder]) VALUES (2, N'39', N'EU', 1, 2)
INSERT [dbo].[Sizes] ([SizeID], [SizeName], [SizeStandard], [IsActive], [SortOrder]) VALUES (3, N'40', N'EU', 1, 3)
SET IDENTITY_INSERT [dbo].[Sizes] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAddresses] ON 

INSERT [dbo].[UserAddresses] ([AddressID], [UserID], [RecipientName], [Phone], [Province], [District], [Ward], [AddressLine], [FullAddress], [Latitude], [Longitude], [IsVerified], [IsDefault], [CreatedAt]) VALUES (1, 4, N'haianh', N'0901234567', N'Thành phố Hà Nội', N'', N'Phường Ngọc Hà', N'123', N'123, Phường Ngọc Hà, Thành phố Hà Nội', NULL, NULL, 0, 0, CAST(N'2026-08-21T11:03:59.717' AS DateTime))
INSERT [dbo].[UserAddresses] ([AddressID], [UserID], [RecipientName], [Phone], [Province], [District], [Ward], [AddressLine], [FullAddress], [Latitude], [Longitude], [IsVerified], [IsDefault], [CreatedAt]) VALUES (2, 4, N'haianh', N'0901234567', N'Tỉnh Cao Bằng', N'', N'Phường Nùng Trí Cao', N'234', N'234, Phường Nùng Trí Cao, Tỉnh Cao Bằng', NULL, NULL, 0, 0, CAST(N'2026-08-21T11:04:14.550' AS DateTime))
INSERT [dbo].[UserAddresses] ([AddressID], [UserID], [RecipientName], [Phone], [Province], [District], [Ward], [AddressLine], [FullAddress], [Latitude], [Longitude], [IsVerified], [IsDefault], [CreatedAt]) VALUES (3, 2, N'Trần Văn Hiếu', N'0375990871', N'Thành phố Hà Nội', N'', N'Phường Ba Đình', N'1234', N'1234, Phường Ba Đình, Thành phố Hà Nội', NULL, NULL, 0, 1, CAST(N'2026-08-21T11:34:10.073' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [UQ_CartItems_Cart_Variant]    Script Date: 8/29/2026 10:25:01 PM ******/
ALTER TABLE [dbo].[CartItems] ADD  CONSTRAINT [UQ_CartItems_Cart_Variant] UNIQUE NONCLUSTERED 
(
	[CartID] ASC,
	[ProductVariantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Carts_User]    Script Date: 8/29/2026 10:25:01 PM ******/
ALTER TABLE [dbo].[Carts] ADD  CONSTRAINT [UQ_Carts_User] UNIQUE NONCLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Coupons__D3490800747C8DA5]    Script Date: 8/29/2026 10:25:01 PM ******/
ALTER TABLE [dbo].[Coupons] ADD UNIQUE NONCLUSTERED 
(
	[CouponCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MemberTiers_Code]    Script Date: 8/29/2026 10:25:01 PM ******/
ALTER TABLE [dbo].[MemberTiers] ADD  CONSTRAINT [UQ_MemberTiers_Code] UNIQUE NONCLUSTERED 
(
	[TierCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Reviews_User_Product]    Script Date: 8/29/2026 10:25:01 PM ******/
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [UQ_Reviews_User_Product] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_SizeCharts_Brand_Size]    Script Date: 8/29/2026 10:25:01 PM ******/
ALTER TABLE [dbo].[SizeCharts] ADD  CONSTRAINT [UQ_SizeCharts_Brand_Size] UNIQUE NONCLUSTERED 
(
	[BrandID] ASC,
	[SizeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_SA_Variant_Email]    Script Date: 8/29/2026 10:25:01 PM ******/
ALTER TABLE [dbo].[StockAlerts] ADD  CONSTRAINT [UQ_SA_Variant_Email] UNIQUE NONCLUSTERED 
(
	[ProductVariantID] ASC,
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534A6EFBE87]    Script Date: 8/29/2026 10:25:01 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Wishlists_User_Product]    Script Date: 8/29/2026 10:25:01 PM ******/
ALTER TABLE [dbo].[Wishlists] ADD  CONSTRAINT [UQ_Wishlists_User_Product] UNIQUE NONCLUSTERED 
(
	[UserID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Brands] ADD  CONSTRAINT [DF_Brands_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[CartItems] ADD  CONSTRAINT [DF_CartItems_Qty]  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CartItems] ADD  CONSTRAINT [DF_CartItems_AddedAt]  DEFAULT (getdate()) FOR [AddedAt]
GO
ALTER TABLE [dbo].[Carts] ADD  CONSTRAINT [DF_Carts_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Carts] ADD  CONSTRAINT [DF_Carts_UpdatedAt]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Collections] ADD  CONSTRAINT [DF_Collections_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Colors] ADD  CONSTRAINT [DF_Colors_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Colors] ADD  CONSTRAINT [DF_Colors_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_DiscountType]  DEFAULT (N'Phần trăm') FOR [DiscountType]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_DiscountValue]  DEFAULT ((0)) FOR [DiscountValue]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_MinOrder]  DEFAULT ((0)) FOR [MinOrderAmount]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_MaxDiscount]  DEFAULT ((0)) FOR [MaxDiscountAmount]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_IsFlashSale]  DEFAULT ((0)) FOR [IsFlashSale]
GO
ALTER TABLE [dbo].[Materials] ADD  CONSTRAINT [DF_Materials_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MemberTiers] ADD  CONSTRAINT [DF_MT_MinSpend]  DEFAULT ((0)) FOR [MinSpend]
GO
ALTER TABLE [dbo].[MemberTiers] ADD  CONSTRAINT [DF_MT_Discount]  DEFAULT ((0)) FOR [DiscountPercent]
GO
ALTER TABLE [dbo].[MemberTiers] ADD  CONSTRAINT [DF_MT_PointRate]  DEFAULT ((1)) FOR [PointRate]
GO
ALTER TABLE [dbo].[MemberTiers] ADD  CONSTRAINT [DF_MT_Sort]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[MemberTiers] ADD  CONSTRAINT [DF_MT_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderDetails] ADD  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Chờ xác nhận') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (N'Chưa cập nhật') FOR [ShippingAddress]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DiscountAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_PaymentStatus]  DEFAULT (N'Chưa thanh toán') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_IsRevenue]  DEFAULT ((0)) FOR [IsCountedAsRevenue]
GO
ALTER TABLE [dbo].[OrderStatusHistory] ADD  CONSTRAINT [DF_OrderStatusHistory_ChangedAt]  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[PaymentMethods] ADD  CONSTRAINT [DF_PaymentMethods_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  CONSTRAINT [DF_PT_Status]  DEFAULT (N'PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[PaymentTransactions] ADD  CONSTRAINT [DF_PT_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PointTransactions] ADD  CONSTRAINT [DF_PTr_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PostOffices] ADD  CONSTRAINT [DF_PostOffices_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductImages] ADD  CONSTRAINT [DF_ProductImages_IsPrimary]  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[ProductQuestions] ADD  CONSTRAINT [DF_PQ_Status]  DEFAULT (N'ChoTraLoi') FOR [Status]
GO
ALTER TABLE [dbo].[ProductQuestions] ADD  CONSTRAINT [DF_PQ_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  CONSTRAINT [DF_Products_WishlistCount]  DEFAULT ((0)) FOR [WishlistCount]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_Stock]  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_PriceAdj]  DEFAULT ((0)) FOR [PriceAdjustment]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProductVariants] ADD  CONSTRAINT [DF_ProductVariants_Version]  DEFAULT ((0)) FOR [Version]
GO
ALTER TABLE [dbo].[Returns] ADD  CONSTRAINT [DF_Returns_Status]  DEFAULT (N'Chờ xử lý') FOR [Status]
GO
ALTER TABLE [dbo].[Returns] ADD  CONSTRAINT [DF_Returns_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReviewImages] ADD  CONSTRAINT [DF_ReviewImages_Sort]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_Status]  DEFAULT (N'ChoDuyet') FOR [Status]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_Helpful]  DEFAULT ((0)) FOR [HelpfulCount]
GO
ALTER TABLE [dbo].[Reviews] ADD  CONSTRAINT [DF_Reviews_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SearchLogs] ADD  CONSTRAINT [DF_SL_ResultCount]  DEFAULT ((0)) FOR [ResultCount]
GO
ALTER TABLE [dbo].[SearchLogs] ADD  CONSTRAINT [DF_SL_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ShippingMethods] ADD  CONSTRAINT [DF_ShippingMethods_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sizes] ADD  CONSTRAINT [DF_Sizes_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Sizes] ADD  CONSTRAINT [DF_Sizes_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[StockAlerts] ADD  CONSTRAINT [DF_SA_IsNotified]  DEFAULT ((0)) FOR [IsNotified]
GO
ALTER TABLE [dbo].[StockAlerts] ADD  CONSTRAINT [DF_SA_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserAddresses] ADD  CONSTRAINT [DF_UserAddresses_IsVerified]  DEFAULT ((0)) FOR [IsVerified]
GO
ALTER TABLE [dbo].[UserAddresses] ADD  CONSTRAINT [DF_UserAddresses_IsDefault]  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[UserAddresses] ADD  CONSTRAINT [DF_UserAddresses_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_EmailVerified]  DEFAULT ((0)) FOR [EmailVerified]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_PointBalance]  DEFAULT ((0)) FOR [PointBalance]
GO
ALTER TABLE [dbo].[UserSessions] ADD  CONSTRAINT [DF_UserSessions_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserSessions] ADD  CONSTRAINT [DF_UserSessions_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VariantDiscounts] ADD  DEFAULT (N'Theo phần trăm') FOR [DiscountType]
GO
ALTER TABLE [dbo].[VariantDiscounts] ADD  DEFAULT ((0)) FOR [DiscountValue]
GO
ALTER TABLE [dbo].[VariantDiscounts] ADD  DEFAULT ((0)) FOR [MaxDiscountAmount]
GO
ALTER TABLE [dbo].[VariantDiscounts] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[VariantDiscounts] ADD  DEFAULT ((0)) FOR [UsedCount]
GO
ALTER TABLE [dbo].[VariantDiscounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[VariantDiscounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Wishlists] ADD  CONSTRAINT [DF_Wishlists_Notify]  DEFAULT ((1)) FOR [NotifyOnSale]
GO
ALTER TABLE [dbo].[Wishlists] ADD  CONSTRAINT [DF_Wishlists_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Carts] FOREIGN KEY([CartID])
REFERENCES [dbo].[Carts] ([CartID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Carts]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [FK_CartItems_Variants] FOREIGN KEY([ProductVariantID])
REFERENCES [dbo].[ProductVariants] ([ProductVariantID])
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [FK_CartItems_Variants]
GO
ALTER TABLE [dbo].[Carts]  WITH CHECK ADD  CONSTRAINT [FK_Carts_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Carts] CHECK CONSTRAINT [FK_Carts_Users]
GO
ALTER TABLE [dbo].[Collections]  WITH CHECK ADD  CONSTRAINT [FK_Collections_Brands] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
GO
ALTER TABLE [dbo].[Collections] CHECK CONSTRAINT [FK_Collections_Brands]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderDetails]  WITH NOCHECK ADD  CONSTRAINT [FK_OrderDetails_ProductVariants] FOREIGN KEY([ProductVariantID])
REFERENCES [dbo].[ProductVariants] ([ProductVariantID])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_ProductVariants]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_PaymentMethods] FOREIGN KEY([PaymentMethodID])
REFERENCES [dbo].[PaymentMethods] ([PaymentMethodID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PaymentMethods]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_ShippingMethods] FOREIGN KEY([ShippingMethodID])
REFERENCES [dbo].[ShippingMethods] ([ShippingMethodID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_ShippingMethods]
GO
ALTER TABLE [dbo].[Orders]  WITH NOCHECK ADD  CONSTRAINT [FK_Orders_UserAddresses] FOREIGN KEY([AddressID])
REFERENCES [dbo].[UserAddresses] ([AddressID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_UserAddresses]
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusHistory_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderStatusHistory] CHECK CONSTRAINT [FK_OrderStatusHistory_Orders]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PT_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [FK_PT_Orders]
GO
ALTER TABLE [dbo].[PointTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PTr_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[PointTransactions] CHECK CONSTRAINT [FK_PTr_Orders]
GO
ALTER TABLE [dbo].[PointTransactions]  WITH CHECK ADD  CONSTRAINT [FK_PTr_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PointTransactions] CHECK CONSTRAINT [FK_PTr_Users]
GO
ALTER TABLE [dbo].[ProductImages]  WITH CHECK ADD  CONSTRAINT [FK_ProductImages_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductImages] CHECK CONSTRAINT [FK_ProductImages_Products]
GO
ALTER TABLE [dbo].[ProductQuestions]  WITH CHECK ADD  CONSTRAINT [FK_PQ_Answerer] FOREIGN KEY([AnsweredByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProductQuestions] CHECK CONSTRAINT [FK_PQ_Answerer]
GO
ALTER TABLE [dbo].[ProductQuestions]  WITH CHECK ADD  CONSTRAINT [FK_PQ_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductQuestions] CHECK CONSTRAINT [FK_PQ_Products]
GO
ALTER TABLE [dbo].[ProductQuestions]  WITH CHECK ADD  CONSTRAINT [FK_PQ_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ProductQuestions] CHECK CONSTRAINT [FK_PQ_Users]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Collections] FOREIGN KEY([CollectionID])
REFERENCES [dbo].[Collections] ([CollectionID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Collections]
GO
ALTER TABLE [dbo].[Products]  WITH NOCHECK ADD  CONSTRAINT [FK_Products_Materials] FOREIGN KEY([MaterialID])
REFERENCES [dbo].[Materials] ([MaterialID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Materials]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH NOCHECK ADD  CONSTRAINT [FK_ProductVariants_Colors] FOREIGN KEY([ColorID])
REFERENCES [dbo].[Colors] ([ColorID])
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Colors]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariants_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Products]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH NOCHECK ADD  CONSTRAINT [FK_ProductVariants_Sizes] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Sizes] ([SizeID])
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [FK_ProductVariants_Sizes]
GO
ALTER TABLE [dbo].[ReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReturnDetails_OrderDetails] FOREIGN KEY([OrderDetailID])
REFERENCES [dbo].[OrderDetails] ([OrderDetailID])
GO
ALTER TABLE [dbo].[ReturnDetails] CHECK CONSTRAINT [FK_ReturnDetails_OrderDetails]
GO
ALTER TABLE [dbo].[ReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReturnDetails_Returns] FOREIGN KEY([ReturnID])
REFERENCES [dbo].[Returns] ([ReturnID])
GO
ALTER TABLE [dbo].[ReturnDetails] CHECK CONSTRAINT [FK_ReturnDetails_Returns]
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD  CONSTRAINT [FK_Returns_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Returns] CHECK CONSTRAINT [FK_Returns_Orders]
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD  CONSTRAINT [FK_Returns_PostOffices] FOREIGN KEY([PostOfficeID])
REFERENCES [dbo].[PostOffices] ([PostOfficeID])
GO
ALTER TABLE [dbo].[Returns] CHECK CONSTRAINT [FK_Returns_PostOffices]
GO
ALTER TABLE [dbo].[ReviewImages]  WITH CHECK ADD  CONSTRAINT [FK_ReviewImages_Reviews] FOREIGN KEY([ReviewID])
REFERENCES [dbo].[Reviews] ([ReviewID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReviewImages] CHECK CONSTRAINT [FK_ReviewImages_Reviews]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_OrderDetails] FOREIGN KEY([OrderDetailID])
REFERENCES [dbo].[OrderDetails] ([OrderDetailID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_OrderDetails]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Products]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_Reviews_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_Reviews_Users]
GO
ALTER TABLE [dbo].[SearchLogs]  WITH CHECK ADD  CONSTRAINT [FK_SearchLogs_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[SearchLogs] CHECK CONSTRAINT [FK_SearchLogs_Users]
GO
ALTER TABLE [dbo].[SizeCharts]  WITH CHECK ADD  CONSTRAINT [FK_SizeCharts_Brands] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brands] ([BrandID])
GO
ALTER TABLE [dbo].[SizeCharts] CHECK CONSTRAINT [FK_SizeCharts_Brands]
GO
ALTER TABLE [dbo].[SizeCharts]  WITH CHECK ADD  CONSTRAINT [FK_SizeCharts_Sizes] FOREIGN KEY([SizeID])
REFERENCES [dbo].[Sizes] ([SizeID])
GO
ALTER TABLE [dbo].[SizeCharts] CHECK CONSTRAINT [FK_SizeCharts_Sizes]
GO
ALTER TABLE [dbo].[StockAlerts]  WITH CHECK ADD  CONSTRAINT [FK_SA_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[StockAlerts] CHECK CONSTRAINT [FK_SA_Users]
GO
ALTER TABLE [dbo].[StockAlerts]  WITH CHECK ADD  CONSTRAINT [FK_SA_Variants] FOREIGN KEY([ProductVariantID])
REFERENCES [dbo].[ProductVariants] ([ProductVariantID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StockAlerts] CHECK CONSTRAINT [FK_SA_Variants]
GO
ALTER TABLE [dbo].[UserAddresses]  WITH CHECK ADD  CONSTRAINT [FK_UserAddresses_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserAddresses] CHECK CONSTRAINT [FK_UserAddresses_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_MemberTiers] FOREIGN KEY([TierID])
REFERENCES [dbo].[MemberTiers] ([TierID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_MemberTiers]
GO
ALTER TABLE [dbo].[UserSessions]  WITH CHECK ADD  CONSTRAINT [FK_UserSessions_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[UserSessions] CHECK CONSTRAINT [FK_UserSessions_Users]
GO
ALTER TABLE [dbo].[VariantDiscounts]  WITH CHECK ADD  CONSTRAINT [FK_VariantDiscounts_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[VariantDiscounts] CHECK CONSTRAINT [FK_VariantDiscounts_Products]
GO
ALTER TABLE [dbo].[VariantDiscounts]  WITH CHECK ADD  CONSTRAINT [FK_VariantDiscounts_ProductVariants] FOREIGN KEY([ProductVariantID])
REFERENCES [dbo].[ProductVariants] ([ProductVariantID])
GO
ALTER TABLE [dbo].[VariantDiscounts] CHECK CONSTRAINT [FK_VariantDiscounts_ProductVariants]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Products] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Products]
GO
ALTER TABLE [dbo].[Wishlists]  WITH CHECK ADD  CONSTRAINT [FK_Wishlists_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Wishlists] CHECK CONSTRAINT [FK_Wishlists_Users]
GO
ALTER TABLE [dbo].[CartItems]  WITH CHECK ADD  CONSTRAINT [CK_CartItems_Qty] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[CartItems] CHECK CONSTRAINT [CK_CartItems_Qty]
GO
ALTER TABLE [dbo].[MemberTiers]  WITH CHECK ADD  CONSTRAINT [CK_MT_Discount] CHECK  (([DiscountPercent]>=(0) AND [DiscountPercent]<=(100)))
GO
ALTER TABLE [dbo].[MemberTiers] CHECK CONSTRAINT [CK_MT_Discount]
GO
ALTER TABLE [dbo].[PaymentTransactions]  WITH CHECK ADD  CONSTRAINT [CK_PT_Status] CHECK  (([Status]=N'CANCELLED' OR [Status]=N'REFUNDED' OR [Status]=N'FAILED' OR [Status]=N'SUCCESS' OR [Status]=N'PENDING'))
GO
ALTER TABLE [dbo].[PaymentTransactions] CHECK CONSTRAINT [CK_PT_Status]
GO
ALTER TABLE [dbo].[ProductQuestions]  WITH CHECK ADD  CONSTRAINT [CK_PQ_Status] CHECK  (([Status]=N'An' OR [Status]=N'DaTraLoi' OR [Status]=N'ChoTraLoi'))
GO
ALTER TABLE [dbo].[ProductQuestions] CHECK CONSTRAINT [CK_PQ_Status]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [CK_ProductVariants_Stock_NonNegative] CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [CK_ProductVariants_Stock_NonNegative]
GO
ALTER TABLE [dbo].[ProductVariants]  WITH CHECK ADD  CONSTRAINT [CK_ProductVariants_StockQuantity_NonNegative] CHECK  (([StockQuantity]>=(0)))
GO
ALTER TABLE [dbo].[ProductVariants] CHECK CONSTRAINT [CK_ProductVariants_StockQuantity_NonNegative]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_Rating] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_Rating]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_SizeFeedback] CHECK  (([SizeFeedback] IS NULL OR ([SizeFeedback]=N'RONG' OR [SizeFeedback]=N'CHAT' OR [SizeFeedback]=N'DUNG')))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_SizeFeedback]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_Status] CHECK  (([Status]=N'An' OR [Status]=N'DaDuyet' OR [Status]=N'ChoDuyet'))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_Status]
GO
/****** Object:  StoredProcedure [dbo].[sp_ProcessOrderAtomic]    Script Date: 8/29/2026 10:25:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_ProcessOrderAtomic]
    @UserID INT,
    @ProductVariantID INT,
    @Quantity INT,
    @UnitPrice DECIMAL(18,2),
    @ShippingAddress NVARCHAR(500),
    @CustomerName NVARCHAR(100),
    @CustomerPhone VARCHAR(20),
    @PaymentMethod NVARCHAR(100),
    @IsOrderSuccess BIT OUTPUT 
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRY
        BEGIN TRANSACTION;

        DECLARE @CurrentStock INT;
        
        SELECT @CurrentStock = StockQuantity 
        FROM [dbo].[ProductVariants] WITH (UPDLOCK, HOLDLOCK)
        WHERE ProductVariantID = @ProductVariantID;

        IF @CurrentStock IS NULL OR @CurrentStock < @Quantity
        BEGIN
            ROLLBACK TRANSACTION;
            SET @IsOrderSuccess = 0;
            RETURN;
        END

        UPDATE [dbo].[ProductVariants]
        SET StockQuantity = StockQuantity - @Quantity,
            Version = Version + 1
        WHERE ProductVariantID = @ProductVariantID;

        DECLARE @InsertedOrderID INT;
        INSERT INTO [dbo].[Orders] (UserID, TotalAmount, OrderDate, Status, ShippingAddress, CustomerName, CustomerPhone, PaymentMethod, PaymentStatus)
        VALUES (@UserID, (@Quantity * @UnitPrice), GETDATE(), N'Chờ xác nhận', @ShippingAddress, @CustomerName, @CustomerPhone, @PaymentMethod, N'Chưa thanh toán');
        
        SET @InsertedOrderID = SCOPE_IDENTITY();

        INSERT INTO [dbo].[OrderDetails] (OrderID, ProductID, ProductVariantID, Quantity, UnitPrice)
        SELECT @InsertedOrderID, ProductID, ProductVariantID, @Quantity, @UnitPrice
        FROM [dbo].[ProductVariants]
        WHERE ProductVariantID = @ProductVariantID;

        COMMIT TRANSACTION;
        SET @IsOrderSuccess = 1;

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        SET @IsOrderSuccess = 0;
    END CATCH
END;

GO
